<template>
  <div class="modal-cart-item">
    <button
        class="modal-cart-item__remove"
        @click.prevent="hideDiscountBlock()"
    />
    <div class="modal-cart-item__main">
      <div class="modal-cart-item__image">
        <img
            :data-src="discount.image"
            :alt="discount.header"
            v-lazy-load
        >
      </div>
      <div class="modal-cart-item__content">
        <div class="modal-cart-item__top">
          <p class="modal-cart-item__title">
            {{ discount.header }}
          </p>
          <!-- <p class="modal-cart-item__info">
            <span>
              100 гр
            </span>
            <span>
              1680 ₽/шт
            </span>
          </p> -->
        </div>

        <div class="modal-cart-item__middle">
          <p class="modal-cart-item__discount-description">
            {{ discount.description}}
          </p>
        </div>

        <div class="modal-cart-item__footer">
          <UIButton
              @color="discount.buttonColor"
              class="modal-cart-discount-btn"
              @click.prevent="discountStore.toggleChooseDiscountModal(true)"
          >
            {{ discount.buttonText }}
          </UIButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
//const emits = defineEmits(['close'])
import imageSize from "~/utils/imageSize";
import  { useChooseDiscountStore } from '@/store/choose_discount'
const discountStore = useChooseDiscountStore()
const discounts  = storeToRefs(discountStore)
const props = defineProps({
  discount: {
    type: Object,
    default: () => ({}),
  },
  isShow: {
    type: Boolean,
    default: false,
  },
})
//const isShow = ref(true)
// const discountImage = computed(() => {
//   const image = props.discount.image
//   return imageSize(image, 'small')
// })
const hideDiscountBlock = () => {
  isShow.value = false
}
</script>
<style lang="scss" scoped>
</style>