<template>
  <ModalsOverlay
      :is-show="isShow"
      position="right"
      :offset="0"
      name="cart"
      @close="chooseDiscountStore.toggleChooseDiscountModal(false)"
      >
    <a
        href="#"
        class="modal-cart__close"
        @click.prevent="closeModal()"
    >
      <UIIcon name="close" />
    </a>
  </ModalsOverlay>
  Choose discount
</template>
<script setup>
import { useChooseDiscountStore } from '~/store/choose_discount'
import { useCommonStore } from '@/store/common'

const chooseDiscountStore = useChooseDiscountStore()
const commonStore = useCommonStore()

const isShow = ref(true)

const closeModal = () => {
  isShow.value = false
}
</script>
<style scoped lang="scss">

</style>